/*
    general.css

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-11-16: Modified
*/

/*
    General 
*/
* {
    font-family: 'Lato', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#home-container, #login-container {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-container, #order-container {
    padding-top: 180px;
    background-color: #F9F9FB;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number] {
    transform: scale(1.2);
    text-align: center;
    font-size: 0.8em;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

/*
    Font Size
*/
#heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

#sub-heading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

#small-title {
    font-size: 16px;
    font-weight: bold;
}

/*
    Button Theme
*/
#panda-btn, #panda-btn-2, #panda-btn-3 {
    font-size: 15px;
    width: 130px;
    height: 40px;
    color: #FFFFFF;
    background-color: #7F6791;
    border: none;
}

#panda-btn-2 {
    margin: 30px 0 0 15px;
    background-color: grey;
}

#panda-btn-3 {
    margin: 30px 0 0 15px;
    color: #7F6791;
    background-color: #FFFFFF;
    border: 2px solid #7F6791;
}

#login-btn {
    font-size: 15px;
    width: 90px;
    height: 40px;
    color: #FFFFFF;
    background-color: #7F6791;
    border: none;
    border-radius: 2px;
}

.login {
    display: block;
}

.logout {
    display: none;
}

#details-btn {
    font-size: 15px;
    width: 110px;
    height: 40px;
    color: #FFFFFF;
    background-color: #7F6791;
    border: none;
    border-radius: 2px;
}