/*
    home.css

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-10-21: Modified
*/

#home-container {
    display: flex;
    flex-direction: column;
}

.bbt-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 0;
}

.bbt {
    background-color: #F3F3F5;
    border-radius: 15px;
    width: 293px;
    height: 293px;
    padding: 30px 40px;
    margin: 0 20px 20px 0;
}

.bbt a {
    color: black;
    text-decoration: none;
}

.bbt div:first-child {
    display: flex;
    justify-content: center;
}

.bbt-img {
    padding-right: 50px;
}

.bbt-img img {
    width: 150px;
    height: 250px;
}

.bbt-review {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.bbt-name, .bbt-price, .bbt-name > div {
    font-family: 'Caveat', cursive !important;
    font-size: 1.4em;
    margin-top: 10px;
    text-align: center;
}

.star, .star-filled {
    width: 32px;
    height: 32px;
    padding-bottom: 10px;
}

.bbt-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}