.form-group {
    /*background: aquamarine;*/
}

hr {
    border: 1px #7F6791;
}

.form-group .btn, #profile_form .btn, .btn .btn-default {
    background-color: white;
    color: #7F6791;
    border-radius: 1em;
    padding: 1em;
    border: 2px solid #7F6791;
}
.checkbox {
    color: #2C2E39;
    font-weight: bold;
}
.div {
    padding: 1em;
}