/*
    navbar.css

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-11-16: Modified
*/

#navbar-container {
    display: flex;
    position: fixed;
    width: 100%;
}

.logo {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.logo img {
    width: 250px;
}

.navbar-menu a, .navbar-menu partial {
    font-size: 1.5em;
    padding-bottom: 20px;
    text-decoration: none;
}

.login-btn {
    color: #2C2E39 !important;
    width: 90px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    background: #F3F3F5;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
}
