/*
    navbar.css

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-11-16: Modified
*/

#navbar-container {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 30px 50px;
    background-color: #FFFFFF;
}

.logo {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 250px;
}

.navbar-menu {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-menu a, .navbar-menu partial {
    text-decoration: none;
    color: #000000;
}

.navbar-menu-details {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
