/*
    navbar.css

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-11-17: MODIFIED
*/

#navbar-container {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 30px 50px;
    background-color: #FFFFFF;
}

.logo {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 250px;
}

.navbar-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-menu a, .navbar-menu partial {
    text-decoration: none;
    color: #000000;
}

.navbar-menu-details {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.mobile-menu-details {
    display: none;
    margin-right: 100px;
}

.mobile-menu-details img {
    width: 45px;
}

@media only screen and (max-width: 950px) {
    .navbar-menu-details {
        display: none;
    }
    .mobile-menu-details {
        display: block;
    }
}
