@*
    About.cshtml

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Jaden Ji Hong Ahn, 2019-11-16: Created
*@

@{
    ViewData["Title"] = "About Panda Tea";
}



<div id="home-container">
    <div>
        <h2>@ViewData["Title"]</h2>
        <img src="~/images/logo.png" alt="Panda Tea Waterloo" />
        <p>Panda Tea is a new local bubble tea shop that opened in Waterloo in Summer 2019. They offer a variety of bubble tea flavors using real fruit blends and freshly made tapioca pearls.</p>
    </div>

    <h3>Developers</h3>
    <div class="bbt-container">
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <div>
                        <img src="~/images/strawberry-explosion.png" alt="Irene Kwon" />
                    </div>
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Irene Kwon
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <div>
                        <img src="~/images/creamy-avocado.png" alt="Samantha Dang" />
                    </div>
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Samantha Dang
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <div>
                        <img src="~/images/taro-basic.png" alt="Dennis Nay" />
                    </div>
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Dennis Nay
            </div>
        </div>
        <div class="bbt">
            <div>
                <div class="bbt-img">
                    <div>
                        <img src="~/images/mango-delight.png" alt="Jaden Ahn" />
                    </div>
                </div>
                <div class="bbt-review">
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                    <img src="~/images/star.png" alt="star" class="star" />
                </div>
            </div>
            <div class="bbt-name">
                Jaden Ahn
            </div>
        </div>
    </div>
</div>