@*  Login.cshtml

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-11-16: Modified
*@

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-container">
    <div id="heading">Login</div>
    <div id="tempdata">
        <font>@TempData["LoginRequiredMessage"]</font>
    </div>
    <div data-validate="Email is required">
        <input type="text" name="email" id="email" placeholder="Email">
    </div>
    <div data-validate="Password is required">
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
        <input type="button" value="Sign In" onclick="Validate()">
    </div>
</div>

<script>
  function Validate() {
    $.ajax(
    {
      type: "POST",
      url: '@Url.Action("Validate", "Users")',
      data: {
        email: $('#email').val(),
        password: $('#password').val()
      },
      error: function (result) {
          alert("Failed to log In. Try Again!");
      },
      success: function (result) {
        console.log(result);
        if (result.status == true) {
            window.location.href = '@Url.Action("Index", "Menus")';
        }
        else {
          alert(result.message);
        }
      }
    });
  }
</script>

