﻿@*
    Index.cshtml

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Haeryun Kwon, 2019-10-21: Modified

*@

@model IEnumerable<PandaTea.Models.Menu>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="home-container">
    <div class="bbt-container">
        @foreach (var item in Model.GroupBy(x => x.ProductId).Select(y => y.First()).ToList())
        {
            <div class="bbt">
                <a asp-action="Details" asp-route-id="@item.MenuId">
                    <div>
                        <div class="bbt-img">
                            <div>
                                <img src= "@Url.Content(item.Product.ImagePath)" alt="Image" />
                             </div>
                        </div>
                        <div class="bbt-review">
                            <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                            <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                            <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                            <img src="~/images/star-filled.png" alt="star-filled" class="star-filled" />
                            <img src="~/images/star.png" alt="star" class="star" />
                        </div>
                    </div>
                    <div class="bbt-name">
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </div>
                </a>
            </div>
        }
    </div>
</div>