@*  Index.cshtml

    PROG3050: Programming Microsoft Enterprise Applications
    Group 7

    Revision History
             Samantha Dang, 2019-10-31: Hide User information
             Haeryun Kwon, 2019-11-18: Modified
*@

@model IEnumerable<PandaTea.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Quantity, DatePurchased, MenuId, StoreId -->

<div id="order-container">
    <div id="heading">Purchase History</div>
    <div>
        <div class="history-box">
            <div class="history-box-content">
                <div class="date">November 16, 2019</div>
                <div>
                    <div id="small-title">Strawberry Explosion</div>
                    <div>Size: Large</div>
                    <div>Quantity: 1</div>
                </div>
                <div class="location">
                    <img src="../images/location.png" />
                    <div>Panda Tea, Waterloo, ON N1A 2B3</div>
                </div>
                <div class="order-total">
                    <img src="../images/money.png" />
                    <div>Order Total: $4.51</div>
                </div>
            </div>
        </div>

        <div class="history-box">
            <div class="history-box-content">
                <div class="date">October 29, 2019</div>
                <div>
                    <div id="small-title">Strawberry Explosion</div>
                    <div>Size: Large</div>
                    <div>Quantity: 1</div>
                </div>
                <div class="location">
                    <img src="../images/location.png" />
                    <div>Panda Tea, Waterloo, ON N1A 2B3</div>
                </div>
                <div class="order-total">
                    <img src="../images/money.png" />
                    <div>Order Total: $4.51</div>
                </div>
            </div>
        </div>

        <div class="history-box">
            <div class="history-box-content">
                <div class="date">October 11, 2019</div>
                <div>
                    <div id="small-title">Strawberry Explosion</div>
                    <div>Size: Large</div>
                    <div>Quantity: 1</div>
                </div>
                <div class="location">
                    <img src="../images/location.png" />
                    <div>Panda Tea, Waterloo, ON N1A 2B3</div>
                </div>
                <div class="order-total">
                    <img src="../images/money.png" />
                    <div>Order Total: $4.51</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () { 
            $("#details-btn").click(function () {
                $("#history-modal").css("display", "block");
            });
        });
        $(".modal-close").click(function () {
            $("#history-modal").css("display", "none");
        });
    </script>
}